/*---------------------General Styles---------------------*/
.backgroundimage {
  margin: 0;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(Pictures/HomeBackground.jpg);
  /* ADDED: Scale entire page proportionally */
  zoom: calc(100vw / 2000);
}

body {
  overflow: hidden;
}

hr {
  border: 2px solid;
  border-color: rgba(240, 240, 243, 0.884);
  border-radius: 50%;
  background: #8f8f8f;
  opacity: 0.7;
  height: 2px;
  margin: 0px 0px;
  flex-basis: 100%;
  align-self: stretch;
}

p {
  text-align: justify;
  font-family: 'EB Garamond', serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.6;
  color: rgba(240, 240, 243, 0.884);
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.363);
  margin: 5px 15px;
  padding: 0px 5px;
}

h1 {
  font-family: 'EB Garamond';
  font-size: 35px;
  font-weight: bold;
  letter-spacing: 3px;
  margin-top: 0;
  padding-top: 0;
  color: rgba(240, 240, 243, 0.836);
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.363);
  text-transform: uppercase;
}

.HeaderText {
  text-align: center;
  font-family: "Monaco";
  font-size: 2.5rem;
  font-weight: 999;
  color: rgba(240, 240, 243, 0.884);
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.363);
  letter-spacing: 0px;
  padding-top: 1.9rem;
  transition: 0.3s ease;
}

.HeaderText:hover {
  transform: scale(1.2);
}

/*---------------------General Styles---------------------*/
/* --------------Scroll-Bar Styles------------ */
/* width */
.info-text.left>div>section::-webkit-scrollbar {
  width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: red;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b30000;
}

/* --------------Scroll-Bar Styles------------ */
/* --------------Info-Boxes Styles------------ */
.info-boxes-container {
  display: flex;
  justify-content: center;
  background-color: transparent;
  padding: 50px;
  gap: 40px;
  border: 2px salmon;
  transition: all 0.5s ease;
}

.info-box {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 20px;
  flex: 0 0 auto;
  background-color: rgba(68, 67, 67, 0.377);
  box-shadow: 0 0 20px 5px #1f2a30;
  border-radius: 10px;
  transition: all 0.3s ease;
}

.info-box:hover {
  box-shadow: 0 0 20px 5px #ffffff;
  transform: scale(1.02);
}

.info-box.center {
  width: 900px;
  height: 380px;
  margin: 0px 40px;
}

.info-box.left,
.info-box.right {
  cursor: pointer;
  margin: 20px 40px;
  width: 900px;
  height: 380px;
  opacity: 0.5;
}

/* ------------------Info-Boxes Styles------------------ */
/* -------------------Contents Styles------------------- */
.info-box-top-section {
  display: flex;
  align-items: center;
}

.ProfilePicture {
  border-radius: 5%;
  border: 5px transparent;
  box-shadow: 0 0 20px 5px #1f2a30;
  margin: 10px 20px;
  padding-top: 0;
  object-fit: cover;
  width: 200px;
  height: 200px;
  transition: 0.3s ease;
}

.ProfilePicture:hover {
  box-shadow: 0 0 20px 5px #ffffff;
  transform: scale(1.1);
}

.info-text {
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.info-text h1 {
  font-size: 40px;
  margin: 0px 0px 5px 0px;
}

.info-text h2 {
  margin: 4px 0px;
  font-family: EB Garamond;
  font-weight: 350px;
  color: rgba(240, 240, 243, 0.884);
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.363);
}

/* ------------------Left info-text Styles------------------ */
.info-text.left {
  flex-direction: row;
  margin: 5px 5px 0 0;
  width: 100%;
  height: 100%;
  column-count: 2;
  column-gap: 5px;
}

.info-text.left>div {
  text-align: center;
  width: 50%;
}

.info-text.left>div>section {
  overflow-wrap: break-word;
  overflow-y: scroll;
  padding: 5px 5px;
  margin: 10px 15px 10px 15px;
  height: 75%;
  box-shadow: 0px 1px 10px 0px #1f2a30 inset;
  border-radius: 10px;
}

.info-text.left>div>section p {
  font-size: 95%;
}

.info-text.left>div>section:hover {
  box-shadow: 0px 1px 10px 0px #ffffff inset;
}

/* ------------------Center info-text Styles------------------ */
.social-logos {
  display: flex;
  align-items: center;
  margin: 10px 0;
  gap: 10px;
}

.logo-icons {
  display: block;
  border-radius: 35%;
  opacity: 0.6;
  width: 25px;
  height: 25px;
  margin: 0px 5px;
  align-items: left;
  transition: 0.3s ease;
}

.logo-icons:hover {
  border-radius: 25%;
  opacity: 1.0;
  transform: scale(1.2);
}

/* -------------------Contents Styles------------------- */